<!-- Footer-->
<footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white" href="/express">Express.js</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white"href="/http">HTTP</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Third Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">First Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Second Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Third Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">First Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Second Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Third Link</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Fourth Link</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-gray-800 bg-opacity-75">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white" href="/">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="w-10 h-10" alt="nodejs logo"  />
          <span class="ml-3 text-xl">Node.js</span>
        </a>
        <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">©<%= new Date().getFullYear() %> Node.js -
          <a href="https://github.com/mhdafs" class="text-gray-500 hover:text-green-500" target="_blank" rel="noopener noreferrer">@mhdafs</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="ml-3 text-gray-400 hover:scale-110 duration-300 hover:text-green-500" href="https://www.instagram.com/mhd._.afs" target="_blank" rel="noopener noreferrer">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400 hover:scale-110 duration-300 hover:text-green-500" href="https://www.linkedin.com/in/mhdafs" target="_blank" rel="noopener noreferrer">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
</body>
</html>
