<!-- Header-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="NodeJS Learning Site" />
    <meta name="author" content="Afsal" />
    <link
      rel="icon"
      href="https://res.cloudinary.com/cloudverse/image/upload/v1695133216/CODEVERSE/logo.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Workouts</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "light-gray": "#1f1f1f",
              "light-dark": "#151415",
              "medium-dark": "#0E0E0E",
              "dark-purple": "#081A51",
              "light-purple": "rgba(8, 26, 81, 0.17)",
              "light-white": "rgba(255,255,255,0.17)",
              "light-red": "rgba(255, 102, 102, 0.17)",
              "medium-white": "rgba(192, 192, 192, 0.1)",
              "light-green": "rgba(102 , 255, 102, 0.17)",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-light-dark text-gray-300">
    <header class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="/">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="w-10 h-10" alt="nodejs logo"  />
          <span class="ml-3 text-xl">Node.js</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-white" href="/express">Express.js</a>
          <a class="mr-5 hover:text-white" href="/http">HTTP</a>
          <a class="mr-5 hover:text-white">Third Link</a>
          <a class="mr-5 hover:text-white">Fourth Link</a>
        </nav>
        <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </header>
